<%= form_for(ContactMessage.new, html: {class: 'form form--contact js_inline_validate js-contact_message'}, data: {validate_url: validate_contact_messages_path, resource_name: "contact_message"}, remote: true) do |f| %>

  <fieldset class='js_form_inputs form__fieldset'>
    <div class="form__field">
      <%= f.label :full_name, class: "label"  %>
      <%= f.text_field :full_name, class: 'js_validate_me js_contact_message_full_name input' %>
    </div>

    <div class="form__field">
      <%= f.label :email, class: "label"  %>
      <%= f.email_field :email, class: 'js_validate_me js_contact_message_email input' %>
    </div>

    <div class="form__field">
      <%= f.label :message, class: "label"  %>
      <%= f.text_area :message, rows: 6, class: 'js_validate_me js_contact_message_message textarea' %>
    </div>
  </fieldset>
<!-- 
    <div class="form__field">
      <div id="recaptcha1" class="recaptcha"></div>
    </div>

    <div class="recaptcha_error"> </div>
 -->

  <fieldset class='js_form_inputs form__fieldset'>
    <div class="form__field js_message_submit">
      <%= f.submit t('send'), class: "btn btn--primary btn--medium js_message_submit", data: {disable_with: "#{t('contact_message.disable')}..."} %>
    </div>
  </fieldset>
<% end %>

<script>
  $(function(){
    $("form#new_contact_message")[0].reset();
  })
</script>