<%= image_tag 'banner-img_desktop.jpg' %>
<div class="banner__text-box">
    <div class="banner__text-container">
        <h1 class="banner__text-container-title">Hero Title</h1>
        <p class="banner__text-container-description">I'm Brian, and so's my wife! Listen, strange women lyin' in ponds distributin' swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony.</p>
    </div>
</div>