<h2 class="featured-categories__title">Section Title</h2>
    <div class="featured-categories__cards">
        <div class="card">
            <span class="card__img">
                <%= image_tag 'card-img_world.png', class: "card__img--logo" %>
            </span>
            <span class="card__name">
                <h3>Card Title</h3>
                <h4>Card Subtitle</h4>
            </span>
            <p class="card__description">You don't frighten us, English pig dogs. Go and boil your bottoms, you sons of a silly person. I blow my nose at you, so-called "Arthur King," you and all your silly English K-nig-hts. Oh, oh, I see! Running away, eh? You yellow bastards! Come back here and take what's coming to you! I'll bite your legs off! Oh, king eh? Very nice. And how'd you get that, eh? By exploiting the workers.</p>
        </div>
        <div class="card">
            <span class="card__img">
                <%= image_tag 'card-img_solar.png' %>
            </span>
            <span class="card__name">
                <h3>Card Title</h3>
                <h4>Card Subtitle</h4>
            </span>
            <p class="card__description">You don't frighten us, English pig dogs. Go and boil your bottoms, you sons of a silly person. I blow my nose at you, so-called "Arthur King," you and all your silly English K-nig-hts. Oh, oh, I see! Running away, eh? You yellow bastards! Come back here and take what's coming to you! I'll bite your legs off! Oh, king eh? Very nice. And how'd you get that, eh? By exploiting the workers.</p>
        </div>
        <div class="card">
            <span class="card__img">
                <%= image_tag 'card-img_wind.png' %>
            </span>
            <span class="card__name">
                <h3>Card Title</h3>
                <h4>Card Subtitle</h4>
            </span>
            <p class="card__description">You don't frighten us, English pig dogs. Go and boil your bottoms, you sons of a silly person. I blow my nose at you, so-called "Arthur King," you and all your silly English K-nig-hts. Oh, oh, I see! Running away, eh? You yellow bastards! Come back here and take what's coming to you! I'll bite your legs off! Oh, king eh? Very nice. And how'd you get that, eh? By exploiting the workers.</p>
        </div>
    </div>