<h2 class="main-content__title">Section Title</h2>
    <div class="main-content__cards">
        <div class="main-content__card main-content__card--align-right main-content__card--content-1">
            <h3 class="main-content__card-title main-content__card-title--margin-bottom">Subsection Title</h3>
            <p class="main-content__card-description">You don't frighten us, English pig dogs. Go and boil your bottoms, you sons of a silly person. I blow my nose at you, so-called "Arthur King," you and all your silly English K-nig-hts. Oh, oh, I see! Running away, eh? You yellow bastards! Come back here and take what's coming to you! I'll bite your legs off! Oh, king eh? Very nice. And how'd you get that, eh? By exploiting the workers. By hanging on to outdated imperialist dogma which perpetuates the economic and social differences in our society.</p>
            <p class="main-content__card-description">Are you suggesting coconuts migrate? The Lady of the Lake, her arm clad in the purest shimmering samite held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. THAT is why I am your king. Come and see the violence inherent in the system. Help! Help! I'm being repressed! I'm Brian, and so's my wife! I don't want to talk to you no more, you empty-headed animal food trough wiper! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries!</p>
            <p class="main-content__card-description">What is the capital of Assyria? Listen, strange women lyin' in ponds distributin' swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony.</p>
        </div>
        <div class="main-content__card-img main-content__card--align-right main-content__card--img-1">
            <%= image_tag 'windmill.jpg' %>
        </div>
        <div class="main-content__card-img main-content__card--align-left main-content__card--img-2">
            <%= image_tag 'solar-pannels.jpg' %>
        </div>
        <div class="main-content__card main-content__card--align-left main-content__card--content-2">
            <h3 class="main-content__card-title main-content__card-title--margin-top">Subsection Title</h3>
            <p class="main-content__card-description">You don't frighten us, English pig dogs. Go and boil your bottoms, you sons of a silly person. I blow my nose at you, so-called "Arthur King," you and all your silly English K-nig-hts. Oh, oh, I see! Running away, eh? You yellow bastards! Come back here and take what's coming to you! I'll bite your legs off! Oh, king eh? Very nice. And how'd you get that, eh? By exploiting the workers. By hanging on to outdated imperialist dogma which perpetuates the economic and social differences in our society.</p>
            <p class="main-content__card-description">Are you suggesting coconuts migrate? The Lady of the Lake, her arm clad in the purest shimmering samite held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. THAT is why I am your king. Come and see the violence inherent in the system. Help! Help! I'm being repressed! I'm Brian, and so's my wife! I don't want to talk to you no more, you empty-headed animal food trough wiper! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries!</p>
            <p class="main-content__card-description">What is the capital of Assyria? Listen, strange women lyin' in ponds distributin' swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony.</p>
        </div>
    </div>