<h2 class="newsletter__title">Section Title</h2>
    <p class="newsletter__description">You don't frighten us, English pig dogs. Go and boil your bottoms, you sons of a silly person. I blow my nose at you, so-called "Arthur King," you and all your silly English K-nig-hts.</p>
    <form action="" class="newsletter__form">
        <label for="email"></label>
        <div class="form__input-container">
            <input type="email" placeholder="example@email.com" class="newsletter__input">
            <button type="submit" class="newsletter__button">Send</button>
        </div>         
    </form>