<div class="glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            <li class="glide__slide"><%= image_tag 'slider/slider-img-01.jpg', class: "slider__image" %></li>
            <li class="glide__slide"><%= image_tag 'slider/slider-img-02.jpg', class: "slider__image" %></li>
            <li class="glide__slide"><%= image_tag 'slider/slider-img-03.jpg', class: "slider__image" %></li>
            <li class="glide__slide"><%= image_tag 'slider/slider-img-01.jpg', class: "slider__image" %></li>
            <li class="glide__slide"><%= image_tag 'slider/slider-img-02.jpg', class: "slider__image" %></li>
            <li class="glide__slide"><%= image_tag 'slider/slider-img-03.jpg', class: "slider__image" %></li>
        </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<" id="arrow-border--left"><i class="material-icons" id="arrow-size--left">arrow_back</i></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">" id="arrow-border--right"><i class="material-icons" id="arrow-size--right">arrow_forward</i></button>
    </div>
</div>

    