<div class="sidebar">
  <nav class="sidebar__content">
    <%= link_to admin_root_path, class: 'sidebar__logo' do %>
      <%= image_tag '' %>
    <% end %>

    <%= active_link_to admin_root_path, class: 'sidebar__link', active: :exact, class_active: 'active-link' do %>
      <%= inline_svg "icons/nav/house-icon.svg", class: 'sidebar__icon' %>
        <%= t('admin_nav.activity') %>
    <% end %>

    <% if current_admin.permitted?(:admins) %>
      <%= active_link_to admin_admins_path, class: 'sidebar__link', active: :inclusive, class_active: 'active-link' do %>
        <%= inline_svg "icons/nav/users.svg", class: 'sidebar__icon' %>
        <%= t("admin_nav.accounts") %>
      <% end %>
    <% end %>

    <% if current_admin.permitted?(:contact_infos) %>
      <%= active_link_to admin_contact_infos_path, class: 'sidebar__link', active: :inclusive, class_active: 'active-link' do %>
        <%= inline_svg "icons/nav/location.svg", class: 'sidebar__icon' %>
        <%= t("admin_nav.contact_info") %>
      <% end %>
    <% end %>

    <% if current_admin.permitted?(:contact_messages) %>
      <%= active_link_to admin_contact_messages_path, class: 'sidebar__link', active: :inclusive, class_active: 'active-link' do %>
        <%= inline_svg "icons/nav/messages.svg", class: 'sidebar__icon' %>
        <%= t("admin_nav.contact_messages") %>
      <% end %>
    <% end %>


    <% if current_admin.permitted?(:contact_messages) %>
      <%= active_link_to admin_toolkit_path, class: 'sidebar__link', active: :inclusive, class_active: 'active-link' do %>
        <%= inline_svg "icons/nav/tool-1.svg", class: 'sidebar__icon' %>
        <%= t("admin_nav.toolkit") %>
      <% end %>
    <% end %>

    <%= link_to root_path, class: 'sidebar__link' do %>
      <%= inline_svg "icons/nav/exit.svg", class: 'sidebar__icon' %>
      <%= t("admin_nav.go_to_web") %>
    <% end %>
  </nav>
</div>

<style>
    .js_messages_count{
        background: red;
        padding: 3px 5px;
        border-radius: 50px;
    }
</style>
