<div class="contact__content">
	<header class="header header--small">
		<%= link_to admin_contact_infos_path, class: "btn btn--back" do %>
			<div class="arrow--left"></div>
		<% end %>

		<div class="header__content">
			<h1><%= t('nav.contacts') %></h1>
			<p><%= t('nav.edit') %></p>
		</div>
	</header>

	<div class="section__wrap--10">

		<section class="section section--col section--padded">
			
			<%= form_for [:admin, @contact_info], remote: true do |f| %>
				<h3>OpenStreetMap</h3>
				<div id="js_osm" style="height:350px"> </div>

				<div class="form__field">
					<fieldset class="fieldset">
						<legend class="label"><%= t('contact_info.map_coordinates') %></legend>
				
						<div class="form__field form__coordinate">
							<%= f.label :longitude, class: "label" %>
							<div class="input__wrapper">
			          			<%= link_to "-", "javascript:void(0);", class: "btn btn--primary btn--small btn__coordinate", onmousedown: "coordinateSetOnMap('contact_info_longitude', '-')", onmouseup: "stopCoordinates()" %>
								<%= f.number_field :longitude, class: "input js_longitude input__coordinate", min: "-180", max: "180", step: "0.000001" %>
			          			<%= link_to "+", "javascript:void(0);", class: "btn btn--primary btn--small btn__coordinate", onmousedown: "coordinateSetOnMap('contact_info_longitude', '+')" , onmouseup: "stopCoordinates()" %>
			          		</div>
						</div>

						<div class="form__field form__coordinate">
							<%= f.label :latitude, class: "label" %>
							<div class="input__wrapper">
			          			<%= link_to "-", "javascript:void(0);", class: "btn btn--primary btn--small btn__coordinate", onmousedown: "coordinateSetOnMap('contact_info_latitude', '-')", onmouseup: "stopCoordinates()"%>
								<%= f.number_field :latitude, class: "input js_latitude input__coordinate", min: "-90", max: "90", step: "0.000001" %>
			          			<%= link_to "+", "javascript:void(0);", class: "btn btn--primary btn--small btn__coordinate", onmousedown: "coordinateSetOnMap('contact_info_latitude', '+')", onmouseup: "stopCoordinates()" %>
			          		</div>
						</div>
								<em class="text--small"><%= t('contact_info.map_coordinates_desc') %></em>
					</fieldset>
				</div>

				<div class="form__field">
					<%= f.label :name, class: "label" %>
					<%= f.text_field :name, class: "input"%>
				</div>

				<div class="form__field">
					<%= f.label :email, class: "label" %>
					<%= f.text_field :email, class: "input"%>
				</div>

				<div class="form__field">
					<%= f.label :address, class: "label" %>
					<%= f.text_field :address, class: "input"%>
				</div>

				<div class="form__field">
					<%= f.label :phone, class: "label" %>
					<%= f.text_field :phone, class: "input"%>
				</div>


				<%= f.submit class: "btn btn--primary sticky-submit", value: t("save") %>

			<% end %>
		</section>
	</div>

</div>