.banner {
    padding: 0 196px;
    display: flex;
    align-items: center;
    height: 40rem;
    width: 100%;
    position: relative;
    margin-top: 4rem;
    transition: all .5s;

    @include tablet--landscape {
        padding: 0 100px;
    }

    @include mobile--landscape {
        flex-direction: column;
        justify-content: flex-end;
        padding: 0;
    }
}

.banner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;

    @include mobile--landscape {
        position: relative;
        z-index: 0;
    }
}

.banner__text-box {
    background-color: map-get($colors, --clr-accent-green);
    width: 627px;

    @include mobile--landscape {
        padding: 0;
        padding-bottom: 3.077rem;
        width: 100%;
        text-align: center;
    }
}

.banner__text-container {
    margin-left: 32px;
    background-color: map-get($colors, --clr-accent-grey);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem; 
    padding-right: 1.25rem;

    @include mobile--landscape {
        margin-left: 0;
    }
}

.banner__text-container-title {
    padding-top: 2rem;
    padding-left: 1.5rem;
}

.banner__text-container-description {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

.newsletter {
    @include layout--main(100%);
    background-color: map-get($colors, --clr-neutral-200);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter__title {
    color: map-get($colors, --clr-accent-grey);
    padding-top: 7.5rem;

    @include tablet--landscape {
        padding-top: 5rem;
    }

    @include mobile--portrait {
        padding-top: 3rem;
    }
}

.newsletter__description {
    max-width: 840px;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    color: map-get($colors, --clr-accent-grey);
    font-weight: 500;
    font-style: normal;

    @include tablet--landscape {
        padding-top: 1.875rem;
        padding-bottom: 2rem;
    }
}

.newsletter__form {
    padding-bottom: 7.5rem;

    @include tablet--landscape {
        padding-bottom: 5rem;
    }

    @include mobile--portrait {
        padding-bottom: 3rem;
    }
}

.form__input-container {
    position: relative;
    width: 696px;

    @include tablet--portrait {
        width: 550px;
    }

    @include mobile--portrait {
        width: 400px;
    }

    @include mobile--xs {
        width: 312px;
    }
}

.newsletter__input {
    width: 100%;
    height: 64px;
    padding: 21px 140px 22px 20px;
    background-color: map-get($colors, --clr-neutral-100);
    border: 1px solid map-get($colors, --clr-neutral-100);
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-size: 18px;

    @include tablet--portrait {
        height: 48px;
        font-size: 16px;
    }
}

.newsletter__button {
    font-size: 24px;
    line-height: 28px;
    padding: 10px 27px;
    max-width: 120px;
    max-height: 48px;
    background-color: map-get($colors, --clr-accent-green);
    border-radius: 12px;
    position: absolute;
    right: 10px;
    margin-top: 7px;

    @include tablet--portrait {
        width: 102px;
        right: 0;
        margin-top: 0;
        height: 48px;
        padding: 10px 24px;
        font-size: 18px;
        border: none;
        border-radius: 0px 12px 12px 0px;
    }
}