/*.slider {
  position: relative;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;

  @include breakpoint ($large) {
    height: 50vh;
  }
}

.home__slider__content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.active {}

.slider__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($color-primary, 0.5);
  color: $white;
}

.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -3;
}

.slider__dots {
  position: absolute;
  z-index: 1;
  top: 3*$gutter;
  right: 3*$gutter;
  width: 3*$gutter;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dot {
  display: inline-block;
  background: $white;
  margin-bottom: 0.25*$gutter;
  opacity: 0.5;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;

  &:hover {
    cursor: pointer;
    opacity: 0.75;
    transition: $transition-time ease-out;
  }

  &.active {
    opacity: 1;
  }
}*/


.slider-container {
  padding-bottom: 7.5rem;

  @include tablet--landscape {
      padding-bottom: 5rem;
  }

  @include mobile--portrait {
      padding-bottom: 3rem;
  }
}

.slider-container__title {
  color: map-get($colors, --clr-accent-grey);
  text-align: center;
  padding-top: 7.5rem;
  padding-bottom: 5.375rem;

  @include tablet--landscape {
      padding-top: 5rem;
      padding-bottom: 4rem;
  }

  @include mobile--portrait {
      padding-top: 3rem;
      padding-bottom: 2.875rem;
  }
}

.slider__image {
  object-fit: cover;
}

#arrow-border--left,
#arrow-border--right {
  border: none;
  background-color: none;
  box-shadow: none;
  text-shadow: none;
  position: absolute;
}

#arrow-border--left {
  left: 7rem;

  @include desktop {
      left: 6rem;
  }

  @include tablet--portrait {
      left: 3rem;
  }

  @include mobile--portrait {
      left: 2rem;
  }
}

#arrow-border--right {
  right: 8rem;

  @include desktop {
      right: 6rem;
  }

  @include tablet--portrait {
      right: 3rem;
  }

  @include mobile--portrait {
      right: 2rem;
  }
}

.material-icons {
  background-color: map-get($colors, --clr-accent-green);
  color: map-get($colors, --clr-accent-grey);
  width: 100px;
  height: 100px;

  @include desktop--large {
      width: 80px;
      height: 80px;
  }

  @include desktop {
      width: 60px;
      height: 60px;
  }

  @include tablet--landscape {
      width: 40px;
      height: 40px;
      background-color: map-get($colors, --clr-neutral-100);
  }

  @include mobile--portrait {
      width: 32px;
      height: 32px;
  }
}

#arrow-size--left,
#arrow-size--right {
  font-size: 68px;

  @include desktop--large {
      font-size: 52px;
  }

  @include desktop {
      font-size: 40px;
      padding: 9px 8px;
  }

  @include tablet--landscape {
      font-size: 32px;
      padding: 5px;
  }

  @include mobile--portrait {
      font-size: 24px;
      padding: 4px;
  }
}