<div style="width: 50%; margin: auto;">
  <div id="js_osm" style="height:250px" > </div>
	<br/>
	<h2><%= t("contact_message.contact_us_heading") %></h2>
	<%= render 'contact_messages/form' %>
</div>

<script>
  var l = {
    latitude: "<%= @contact.latitude %>",
    longitude: "<%= @contact.longitude %>"
  };

var pins = [
  {latitude: l.latitude, longitude: l.longitude,
    infoWindow: {
      id: "uniq-id-of-this-infoWindow-"+Date.now(),
      elements: ["<b> <%=@contact.name%> </b> "]
    }
  }
];

// zoom is optional
var center = {latitude: l.latitude, longitude: l.longitude, zoom: 10 };

initOmap("js_osm"); //js_osm is id of div
oMapAdd({
  pins: pins, 
  center: center, 
}); // all props optional
</script>
