<section class="banner">
  <%= render 'pages/home/banner' %>
</section>

<section class="featured-categories">
  <%= render 'pages/home/featured_categories' %>      
</section>

<section class="main-content">
  <%= render 'pages/home/main_content_cards' %>     
  <button class="main-content__button">Learn more</button>
</section>

<section class="slider-container">
  <h2 class="slider-container__title">Section Title</h2>
  <%= render 'pages/home/slider' %> 
</section>

<section class="newsletter">
  <%= render 'pages/home/newsletter' %>
</section>