/*------------------------------------*\
** FOOTER
\*------------------------------------*/

.footer {
  background-color: map-get($colors, --clr-accent-green);
}

.footer__logo {
  padding-bottom: 1.5rem;
  padding-top: 48px;
  padding-left: 6.75rem;

  @include desktop {
      padding-left: 5rem;
  }

  @include tablet--landscape {
      padding-left: 4rem;
  }

  @include tablet--portrait {
      padding-left: 3rem;
  }

  @include mobile--landscape {
      padding-left: 2rem;
      padding-top: 0;
      margin: 0 auto;
  }
}

.footer__links {
  @include layout--main(100%);
  display: flex;
  justify-content: space-between;
  padding-bottom: 6rem;
  padding-right: 15.75rem;
  transition: all .4s;

  @include desktop {
      padding-right: 8rem;
  }

  @include tablet--landscape {
      padding-right: 4rem;
  }

  @include tablet--portrait {
      padding-right: 0;
  }

  @include mobile--landscape {
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      padding-bottom: 4rem;
  }
}

.footer__list {
  @include mobile--landscape {
      text-align: center;
  }
}

.footer__list-item {
  padding-bottom: 10px;
}

.footer__list-item--padding-top {
  padding-top: 18px;
}

.footer__list-item.footer__list-item--bold-large {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.footer__list-item--bold,
.footer__list-item--bold a {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  color: map-get($colors, --clr-accent-grey);
}

address {
  font-style: normal;
}

.footer__icons-container {
  margin-top: 18px;

  & > * {
      padding-right: 24px;
  }

  @include tablet--portrait {
      width: 150px;
  }

  @include mobile--landscape {
      width: 100%;
  }
}

.footer__icons-text {
  @include mobile--landscape {
      text-align: center;
  }
}

/*------------------------------------*\
** COPYRIGHT
\*------------------------------------*/

.copyright {
  background: none;
  color: $black;
  text-align: center;
}

.copyright {
  @include layout--main(100%);

  background-color: map-get($colors, --clr-accent-grey);
  height: 48px;
  display: flex;
  flex-direction: row;
  padding-top: 13px;
  padding-bottom: 14px;
  font-size: 18px;

  @include mobile--landscape {
      height: 86px;
      flex-direction: column-reverse;
      gap: 12px;
      padding-top: 16px;
      padding-bottom: 16px;
  }
}

.copyright__declaration {
  width: 100%;

  @include mobile--landscape {
      text-align: center;
  }
}

.copyright__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;

  @include mobile--landscape {
      justify-content: center;
      gap: 12px;
  }
}

.copyright__list-item {
  color: map-get($colors, --clr-neutral-100);
  padding-left: 36px;

  @include mobile--landscape {
      padding-left: 0;
  }
}


// CREATE A STICKY FOOTER WITH FLEXBOX
