/*------------------------------------*\
# LAYOUT
\*------------------------------------*/

.layout {

   &--text {
    margin-left: auto;
    margin-right: auto;

    @include breakpoint ($large) {
      padding-left: 0;
      padding-right: 0;
      max-width: $text-width;
    }
  }

  &--main {
    width: 100%;
    //max-width: calc(305/375*100vw);
    margin-left: auto;
    margin-right: auto;
    max-width: 91.5rem;;

    @include breakpoint ($large) {
      //max-width: calc(1512/1920*100vw);
    }

  }

  &--full {
    width: 100%;
    @include breakpoint ($large) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  

  &--padded {
    padding-top: $gutter;
    padding-bottom: $gutter;

    @include breakpoint ($medium) {
      padding-top: 2 * $gutter;
      padding-bottom: 2 * $gutter;
    }
  }

  &--padded--double {
    padding-top: $gutter;
    padding-bottom: $gutter;

    @include breakpoint ($medium) {
      padding-top: 4 * $gutter;
      padding-bottom: 4 * $gutter;
    }
  }

  &--soft-horizontal-pad {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.subsection {
  margin-bottom: $gutter;
}

.section {
  margin-bottom: $gutter;

  @include breakpoint ($medium) {
    margin-bottom: 2 * $gutter;
  }
}

.section--double {
  margin-bottom: 2 * $gutter;

  @include breakpoint ($medium) {
    margin-bottom: 4 * $gutter;
  }
}

.section--dark {
  background-color: $black;
  color: $color-primary;
}




/*------------------------------------*\
# FLEX
\*------------------------------------*/

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
}

// .: Align items :.

.flex-align--start {
  align-items: flex-start;
}

.flex-align--center {
  align-items: center;
}

.flex-align--end {
  align-items: flex-end;
}

.flex-align--stretch {
  align-items: stretch;
}

// .: Justify content :.

.flex--start {
  justify-content: flex-start;
}

.flex--center {
  justify-content: center;
}

.flex--end {
  justify-content: flex-end;
}

.flex--stretch {
  justify-content: stretch;
}

.flex--between {
  justify-content: space-between;
}

.flex--around {
  justify-content: space-around;
}

.flex--evenly {
  justify-content: space-evenly;
}

// .: Wrap :.

.flex--wrap {
  flex-wrap: wrap;
}

.flex--nowrap {
  flex-wrap: nowrap;
}

// .: Directions :.

.flex--row {
  flex-direction: row;
}

.flex--row-reverse {
  flex-direction: row-reverse;
}

.flex--column {
  flex-direction: column;
}

.flex--column-reverse {
  flex-direction: column-reverse;
}

// .: Gutters & Cells :.

.flex--gutters {
  margin-left: calc( #{$gutter} / -2 );
  margin-right: calc( #{$gutter} / -2 );
}

.flex--gutters > .cell {
  padding-left: calc( #{$gutter} / 2 );
  padding-right: calc( #{$gutter} / 2 );
}

.flex--gutters--double {
  margin-left: -$gutter;
  margin-right: -$gutter;
}

.flex--gutters--double > .cell {
  padding-left: $gutter;
  padding-right: $gutter;
}

.cell {
  box-sizing: border-box;
}

.cell--auto {
  flex: 1;
}

@for $i from 1 through 12 {
  .cell--#{$i} {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( #{$i} / 12 ) )
  }
}

@each $key, $value in $breakpoints {
  @include breakpoint ($value) {
    @for $i from 1 through 12 {
      .cell--#{$i}--#{$key} {
        flex-shrink: 0;
        flex-grow: 0;
        width: calc( 100% * ( #{$i} / 12 ) )
      }
    }
  }
}



.main-content {
  background-color: map-get($colors, --clr-accent-grey);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  padding-bottom: 6rem;

  @include tablet--landscape {
      padding-bottom: 3rem;
  }
}

.main-content__title {
  text-align: center;
  padding-top: 4rem;
  margin-bottom: 7.313rem;

  @include tablet--landscape {
      padding-top: 3rem;
      margin-bottom: 2.375rem;
      font-size: 36px;
  }
}

.main-content__cards {
  @include layout--main(100%);
  padding-bottom: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
          "content-1 img-1"
          "content-2 img-2";
  grid-gap: 1.5rem;

  @include desktop {
      grid-gap: 1rem;
      padding-bottom: 1rem;
  }

  @include tablet--landscape {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: 
          "img-1"
          "content-1"
          "img-2"
          "content-2";
      justify-items: center;
      padding: 0;
  }
}

.main-content__card--content-1 {
  grid-area: content-1;
}

.main-content__card--img-1 {
  grid-area: img-1;
}

.main-content__card--content-2 {
  grid-area: content-2;
}

.main-content__card--img-2 {
  grid-area: img-2;
}

.main-content__card--align-left {
  margin-right: 9rem;
  
  & > img {
      padding-left: 2rem;

      @include desktop {
          height: fit-content;
      }

      @include tablet--landscape {
          padding-left: 0;
          padding-bottom: 1rem;
          margin-top: 1.5rem;
      }

      @include tablet--portrait {
          width: 100vw;
      }
  }

  @include desktop {
      margin-right: 0;
  }
}

.main-content__card--align-right {
  margin-left: 9rem;
  margin-bottom: 8rem;

  & > img {
      padding-right: 2rem;

      @include desktop {
          height: fit-content;
      }

      @include tablet--landscape {
          margin-top: 5rem;
          padding-right: 0;
          padding-bottom: 1rem;
          margin: 0 auto;
      }

      @include tablet--portrait {
          width: 100vw;
      }
  }

  @include desktop {
      margin-left: 0;
      margin-bottom: 4rem;
  }

  @include tablet--landscape {
      margin-bottom: 0;
      padding-top: 1.813rem;
  }

  @include mobile--landscape {
      padding-top: 0;
  }
}

.main-content__card-title,
.main-content__card-description {
  margin-bottom: 12px;
  padding-left: 2rem;
}

.main-content__card-description {
  padding-right: 2rem;
}

.main-content__card-title {
  @include tablet--landscape {
      text-align: center;
  }
}

.main-content__card-title--margin-top {
  margin-top: 1.406rem;

  @include desktop {
      margin-top: 0;
  }

  @include tablet--landscape {
      margin-top: 1.813rem;
      padding-bottom: 1.688rem;
  }

  @include mobile--landscape {
      margin-top: 0;
  }
}

.main-content__card-title--margin-bottom {
  margin-bottom: 1.406rem;

  @include tablet--landscape {
      margin-bottom: 1.688rem;
  }
}

.main-content__card-img > img {
  background-color: map-get($colors, --clr-accent-green);
}

.main-content__button {
  width: 264px;
  height: 72px;
  background-color: map-get($colors, --clr-accent-green);
  color: map-get($colors, --clr-accent-grey);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;

  @include tablet--landscape {
      display: none;
  }
}

/*------------------------------------*\
# CSS GRID
\*------------------------------------*/

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-column-gap: $gutter*0.9375;

  @include breakpoint($large) {
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    grid-column-gap: $gutter*1.5;
  }

  &--center {
    align-items: center;
  }
}

.grid--gutters {
    grid-row-gap: $gutter*1.75;
}

.grid--no-gutters {
  grid-column-gap: 0;
}

@each $key, $value in $breakpoints {
  @include breakpoint ($value) {
    @for $i from 1 through 12 {
      .col--#{$i}--#{$key} {
        grid-column: auto/span #{$i};
      }
    }
  }
}

//to make col first in the row add class .col--start
@each $key, $value in $breakpoints {
  @include breakpoint ($value) {
    @for $i from 1 through 12 {
      .col--start.col--#{$i}--#{$key} {
        grid-column: 1/span #{$i};
      }
    }
  }
}




.featured-categories {
  @include layout--main(100%);

  background-color: map-get($colors, --clr-neutral-200);
  padding-bottom: 7.5rem;

  @include tablet--landscape {
      padding-bottom: 4.125rem;
  }

  @include mobile--portrait {
      padding-bottom: 1rem;
  }
}

.featured-categories__title {
  text-align: center;
  padding-top: 7.5rem;
  margin-bottom: 5.375rem;
  color: map-get($colors, --clr-accent-grey);

  @include tablet--landscape {
      padding-top: 6rem;
      margin-bottom: 4.125rem;
  }

  @include mobile--landscape {
      padding-top: 3rem;
      padding-bottom: 2.875rem;
  }
}

.featured-categories__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1.5rem;
  transition: all .5s;

  @include desktop {
      grid-template-columns: 1fr 1fr;
  }

  @include mobile--landscape {
      grid-template-columns: 1fr;
      margin-bottom: 3.25rem;
  }
}

.card {
  background-color: map-get($colors, --clr-accent-grey);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all .5s;

  & > * {
      flex: 1 1 (5%, 50%);
  }

  @include tablet--portrait {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 4.1rem;
  }
}

.card__img {
  max-height: 120px;
  max-width: 120px;
  width: 100%;
  padding: 25px;
  background-color: map-get($colors, --clr-accent-green);
  margin-bottom: 17px;
  border-radius: 50%;
  margin-top: 2rem;
  margin-left: 2rem;
  transition: all .5s;

  @include tablet--portrait {
      position: relative;
      transform: translateY(-90px);
      margin-bottom: 0;
  }
}

.card__img--logo {
  object-fit: contain;
  max-height: 70px;
  max-width: 70px;
  width: 100%;
}

.card__name {
  margin-left: 1.5rem;
  padding-top: 59px;

  & > h3 {
      margin-bottom: 10px;
  }

  @include tablet--portrait {
      text-align: center;
      padding-top: 0;

      & > h4 {
          margin-bottom: 1.5rem;
      }
  }
}

.card__description {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
}

/*------------------------------------*\
# DEV SERVER NOTICE
\*------------------------------------*/


.dev-server-notice{
  position: fixed;
  bottom: -100px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: $color-alert;
  color: white;
  font-weight: 800;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease-out;
  z-index: 99;
  .close--wrapper{
    height: 100%;
    margin-right: 0.5rem;
    cursor: pointer;
    position: absolute;
    right: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      width: 18px;
      height: 18px;
    }
  }
  &.float-up{
    transform: translate(-50%, -100px);
  }
  p{
    margin: 0;
    padding: 0.5rem;
  }
}