/* STICKY HEADER */

.sticky-header.sticky-header--down {
	transform: translateY(-100%);
	transition: transform 0.3s;
	background-color: $white--true;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	box-shadow: none;
}

.sticky-header.sticky-header--up {
	transform: translateY(0);
	transition: transform 0.3s;
	background-color: $white--true;
	box-shadow: 0 1px 10px 0 rgba(22,22,22,0.1);
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.sticky-header {
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: transparent;
	box-shadow: none;
	transition: all 0.3s;
}

.header {
	@include layout--main(100%);
  
	height: 101px;
	background-color: map-get($colors, --clr-accent-green);
	position: fixed;
	top: 0;
	z-index: 1; 
	display: flex;
	align-items: center;
	transition: all .3s;
  
	@include tablet--landscape {
	  height: 4rem;
	}
  }
  
  .header__logo {
	height: 52px;
	width: 120px;
	transition: all .3s;
  
	@include tablet--landscape {
	  height: 4rem;
	  width: 148px;
	}
  }
	
  .header__button {
	height: 40px;
	width: 128px;
	text-transform: uppercase;
	background-color: map-get($colors, --clr-neutral-100);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
	font-weight: 700;
	color: map-get($colors, --clr-accent-grey);
	border: none;
	padding: 0;
	margin-left: 2.25rem;
  
	@include tablet--landscape {
	  background-color: map-get($colors, --clr-accent-green);
	  height: 56px;
	  width: 160px;
	  margin-top: auto;
	  margin-bottom: 3rem;
	}
  }