/*------------------------------------*\
** GLOBAL
\*------------------------------------*/

html {
  font-family: $base-font-family;
  line-height: $base-line-height;
  color: $base-font-color;
  font-size: 16px;
}

body {
  box-sizing: border-box;

  &.offset-top {
    margin-top: 4rem;

    @include breakpoint($large) {
      margin-top: 6rem;
    }
  }
}

main {
  min-height: calc(100vh - 70px);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class] {
  @include list-reset;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}
