/*------------------------------------*\
** VARIABLES
\*------------------------------------*/

// http://www.zell-weekeat.com/responsive-typography

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

$base-font-family: 'Raleway', sans-serif;
$base-font-weight: $font-weight--regular;
$base-font-size: 16px;
$base-line-height: 1.6;
$base-font-color: $black;

$heading-font-family: 'Bree Serif', sans-serif;



/*------------------------------------*\
** HEADINGS
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  margin: 0;
  padding: 0;
  margin-bottom: 0.67em;
  font-weight: $font-weight--regular;
}

h1 {
  @include fluid-typography($h1-font-sizes);
}

h2 {
  @include fluid-typography($h2-font-sizes);
}

h3 {
  @include fluid-typography($h3-font-sizes);
}

h4 {
  @include fluid-typography($h4-font-sizes);
}

h5 {
  @include fluid-typography($h5-font-sizes);
}

h6 {
  @include fluid-typography($h6-font-sizes);
}



/*------------------------------------*\
** LISTS
\*------------------------------------*/

ul li {
  list-style-type: none;
}

ol li {
  list-style-type: none;
}



/*------------------------------------*\
** LINKS
\*------------------------------------*/

.link {
  outline-width: 0;
  text-decoration: none;
  color: $color-primary;
  transition: 0.2s;
}

.link:hover, .link:focus, .link:active {
  color: lighten($color-primary, 10%);
}

/*------------------------------------*\
** ARTICLES
\*------------------------------------*/

.article {
  h1 {
    padding-bottom: 0.2em;
    border-bottom: 1px solid $black-20;
  }

  h1 {
    @include fluid-typography($h2-font-sizes);
  }
  
  h2 {
    @include fluid-typography($h3-font-sizes);
  }
  
  h3 {
    @include fluid-typography($h4-font-sizes);
  }
  
  h4 {
    @include fluid-typography($h5-font-sizes);
  }
  
  h5 {
    @include fluid-typography($h6-font-sizes);
  }
  
  h6 {
    @include fluid-typography($h6-font-sizes);
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  a {
    @extend .link;
  }
}

/*------------------------------------*\
** OTHER
\*------------------------------------*/

b, strong, .strong {
  font-weight: $font-weight--bold;
}

p {
  @include font-size($copy-font-sizes);
  font-family: $base-font-family;
  margin-bottom: 1.5rem;
}

pre,
code {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 1rem;
  display: block;
}

/*------------------------------------*\
** FONT WEIGHTS
\*------------------------------------*/

@each $name, $value in $font-weights {
  .text--#{$name} {
    font-weight: $value;
  }
}



/*------------------------------------*\
** TEXT MODIFIERS
\*------------------------------------*/

// TODO: Dodaj text-- klase za debljinu, velicinu, boju, itd



@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

html,
body {
  overflow-x: hidden;
}

body {
  font-family: $font-primary;
  color: map-get($colors, --clr-neutral-100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  color: map-get($colors, --clr-primary-100);
}

h1,
.h1 {
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    line-height: 56px;
}

h2,
.h2 {
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    line-height: 56px;
}

h3,
.h3 {
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    line-height: 42px;
}

h4,
.h4, 
p {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  line-height: 28px;
}

p, a {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
}

ul {
  @include list-reset;
}

li {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 21px;
  color: map-get($colors, --clr-accent-grey);
  cursor: pointer;
}

button {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 21px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

input {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 21px;
}

a, ul {
  color: map-get($colors, --clr-accent-grey);
  cursor: pointer;
}

i {
  height: 48px;
  width: 48px;
  color: map-get($colors, --clr-neutral-100);
  background-color: map-get($colors, --clr-accent-grey);
  padding: 15px;
  border-radius: 50%;
}