.clearfix {
  overflow: hidden;
}

.clear {
  clear: both;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.right {
  float: right;
}

.left {
  float: left;
}

.no-padding {
  padding: 0;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.center-inblock {
  text-align: center;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.full--height {
  height: 100%;
}

.full--height-vh {
  height: 100vh;
}

.full--width {
  width: 100%;
}

.full--width-vw {
  width: 100vw;
}

.shade {
  background-color: $clouds;
}

.display--small {
  display: block;
  @include breakpoint($large) {
    display: none;
  }
}

.display--large {
  display: none;
  @include breakpoint($large) {
    display: block;
  }
}

/*------------------------------------*\
# TEXT
\*------------------------------------*/

.text--small {
  font-size: 0.8rem;
}

.text--large {
  font-size: 1.2rem;
}

.text--double {
  font-size: 2rem;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--light {
  color: $white;
}

.text--dark {
  color: $black;
}

.text--alert {
  color: $color-alert;
}

.text--limiter {
  max-width: 40rem;
}


.visually-hidden {
  @include no-display;
}

.visually-hidden--desktop {
@media all and (min-width: 1025px) {
  @include no-display;
}
}

/* .visually-hidden--tablet-landscape {
  @include tablet-landscape {
    @include no-display;
  }
}*/
  
.visually-hidden--mobile-portrait {
@media all and (max-width: 599px) {
  @include no-display;
}
}