<h2><%= t('current_meta_tags') %></h2>
<label>name="og_title"</label>
<p><%= content_for?(:og_title) ? yield(:og_title) : AppInfo.name %></p>
<label>name="image"</label>
<p><%= image_tag content_for?(:image) ? yield(:image) : image_url('seo.jpg') || image_url('seo.jpg'), width: '200px' %></p>
<label>name="type"</label>
<p><%= content_for?(:type) ? yield(:type) : 'website' %></p>
<label>name="author"</label>
<p><%= content_for?(:author) ? yield(:author) : 'BambooLab' %></p>
<label>name="description"</label>
<p><%= content_for?(:description) ? yield(:description) : AppInfo.seo_description %></p>
<label>name="keywords"</label>
<p><%= content_for?(:keywords) ? yield(:keywords) : AppInfo.seo_keywords %></p>
