<footer class="footer">
  <%= image_tag 'pandoo_logo.jpg', class: "footer__logo" %>

  <div class="footer__links">
    <%= render 'layouts/footer_links' unless @footer_disabled %>
    
    <div class="footer__icons">
    <%= render 'layouts/footer_icons' unless @footer_disabled %>
    </div>
  </div>

  <div class="copyright">
    <p class="copyright__declaration">2020 &copy; PanDoo</p>
    <ul class="copyright__list">
      <li class="copyright__list-item">GDPR</li>
      <li class="copyright__list-item">Privacy</li>
    </ul>
  </div>
</footer>