<p class="footer__icons-text footer__list-item--bold">Follow Us</p>
    <div class="footer__icons-container">
        <span class="footer__icon">
            <a href="">
                <i class="fab fa-facebook"></i>
            </a>
        </span>
        <span class="footer__icon">
            <a href="">
                <i class="fab fa-twitter"></i>
            </a>
        </span>
        <span class="footer__icon">
            <a href="">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </span>
        <span class="footer__icon">
            <a href="">
                <i class="fab fa-youtube"></i>
            </a>
        </span>
    </div>