<ul class="footer__list">
    <li class="footer__list-item footer__list-item--bold-large">Company Name</li>
        <li class="footer__list-item">
            <address>Kralja Zvonimira 35</address>
        </li>
        <li class="footer__list-item">21000 Split</li>
        <li class="footer__list-item footer__list-item--padding-top">hello@companyname.com</li>
        <li class="footer__list-item">+385 21 323 044</li>
</ul>
<ul class="footer__list">
    <li class="footer__list-item footer__list-item--bold">
        <a href="">Products</a>
    </li>
    <li class="footer__list-item">
        <a href="">Pricing</a>
    </li>
    <li class="footer__list-item">
        <a href="">Testimonials</a>
    </li>
    <li class="footer__list-item">
        <a href="">Get it Now</a>
    </li>
</ul>
<ul class="footer__list">
    <li class="footer__list-item footer__list-item--bold">
        <a href="">Company</a>
    </li>
    <li class="footer__list-item">
        <a href="">About</a>
    </li>
    <li class="footer__list-item">
        <a href="">Blog</a>
    </li>
    <li class="footer__list-item">
        <a href="">Contact</a>
    </li>
</ul>