<header class="header">
    <%= image_tag 'pandoo_logo.jpg', class: "header__logo" %>
    <%= render 'layouts/navigation' unless @navigation_disabled %>
    
    <span class="navigation__icon navigation__icon--menu visually-hidden--desktop">
        <i class="fas fa-bars"></i>
    </span>
</header>
