<div id="modal" class="modal">

	<div class="modal-content">
	  <span class="close"><%= image_tag 'icons/close.svg' %></span>
	  <div id="modal-injected_content"></div>
	</div>
</div>

<script>
	$(".close").click(function() {
		closeModal();
	});

	$(document).on('keyup',function(evt) {
	    if (evt.keyCode == 27) {
	  		closeModal();
	    }
	});
</script>
