<nav class="navigation">
    <span class="navigation__icon navigation__icon--close visually-hidden--desktop">
        <i class="fas fa-times"></i>
    </span>
    <ul class="navigation__list">
        <li class="navigation__list-item"><a href="">About</a></li>
        <li class="navigation__list-item"><a href="">Pricing</a></li>
        <li class="navigation__list-item"><a href="">Testimonials</a></li>
        <li class="navigation__list-item"><a href="">Blog</a></li>
        <li class="navigation__list-item"><a href="">Contact</a></li>
    </ul>
    <button class="header__button">Get it now</button>
</nav>