<div>
	<%= active_link_to 'Home', root_path, class: 'nav__link', class_active: 'nav__link--active', active: :exclusive %>
	<%= active_link_to 'Contact', contact_path, class: 'nav__link', class_active: 'nav__link--active' %>
	<%= active_link_to 'Toolkit', toolkit_path, class: 'nav__link', class_active: 'nav__link--active' %>
	<%= active_link_to 'Mailers', '/rails/mailers', class: 'nav__link', class_active: 'nav__link--active' %>
	<%= link_to 'Admin', admin_root_path, class: 'nav__link' %>
</div>