<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">

<head>
  <title><%= @title || 'Big Bamboom' %></title>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : '' %>"/>
  <meta name="keywords" content=''/>
  <meta name="author" content="Bamboo Lab"/>
  <meta property="og:title" content="<%= @title || 'Tabamboolarasa' %>"/>
  <meta property="og:description" content="<%= content_for?(:fb_description) ? yield(:fb_description) : '' %>"/>
  <meta property="og:image" content="<%= content_for?(:fb_image) ? yield(:fb_image) : image_url('seo.jpg') %>"/>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= javascript_include_tag 'application' %>
  <%= analytics_init if ENV['BOOM_ENV'] == 'production' %>
  <%= render 'layouts/shim' %>

  <!--
  <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzd4fBjS8aS9V3-_tbiyPq9l2vf8fboS4&callback=initMap"></script>
  -->


  <script src="./maps/omaps/OpenLayers.js"></script>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>

<body class="" data-locale="<%= I18n.locale %>">
  <% if current_admin %>
    <button class="meta-tags-button btn btn--primary btn--small" title='<%= t('see_meta_tags') %>' onclick='injectInModal("<%= j render 'layouts/current_meta_tags' %>", "meta-tags")'>
      &#128269; SEO
    </button>
  <% end %>

  <%= render 'layouts/header' unless @header_disabled %>  

  <main role="main" class="main">
    <%= yield %>
  </main>

  <%= render 'layouts/footer' unless @footer_disabled %>
  <%= raw bamboolab_cookies(button: "OK", text: "#{Rails.application.class.parent_name} koristi kolačiće za pružanje boljeg korisničkog iskustva i funkcionalnosti stranice.", more_link: "http://www.aboutcookies.org/", more_text: "Saznaj više") %>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="../../assets/javascripts/application.js"></script>
</body>
</html>
